# Discord Bot Token
BOT_TOKEN=your_discord_bot_token_here

# Database Connection
DATABASE_URL=postgresql://user:password@localhost:5432/sprechi
# Postgres Container Setup (make sure to use same variables as in DATABASE_URL)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=sprechi

# Token Generation & Verification
TOKEN_ENCRYPTION_SECRET=your_very_secure_encryption_secret_here
SERVER_ID=your_discord_server_id_here

# Optional: Node Environment
NODE_ENV=development
