# files
.vscode
.env
.env.*
!.env.example
package-lock.json
yarn.lock

# Token generation (keep secure!)
report.csv
result.json
result.json.bak

# folders
build
node_modules
coverage
.vitest

# misc
.DS_Store